pkgbase = android-studio-canary
	pkgdesc = The Official Android IDE (Canary branch)
	pkgver = 2.2.0b1
	pkgrel = 1
	url = http://tools.android.com/
	arch = i686
	arch = x86_64
	license = APACHE
	makedepends = unzip
	depends = alsa-lib
	depends = freetype2
	depends = libx11
	depends = libxext
	depends = libxi
	depends = libxrender
	depends = libxtst
	optdepends = gtk2: GTK+ look and feel
	optdepends = libgl: emulator support
	options = !strip
	source = https://dl.google.com/dl/android/studio/ide-zips/2.2.0.7/android-studio-ide-145.3128856-linux.zip
	source = android-studio-canary.desktop
	sha1sums = bafb5d7029d2678e8274e24da1c7ce0a00f3a644
	sha1sums = 4a01b416148b4d3dc541bc9c29c61eee13864039

pkgname = android-studio-canary

